<rect class="cursor-pointer" x="<%= @square.x %>" y="<%= @square.y %>" width="<%= @square.size %>" height="<%= @square.size %>" fill="<%= @square.color %>" phx-click="auto_travel" phx-value-destination="<%= @square.id %>" phx-target="#region_map"><title><%= @square.name %></title></rect>
