/* This file is for your main application css. */

/* Tailwind stuff */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Basic Phoenix CSS */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

/* Project specific SCSS */
@import "./mud_client.scss";

html,
body {
  min-height: 100% !important;
  height: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
  display: flex;
  margin: 0px;
}
