/* This file is for your main application css. */

/* Tailwind stuff */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main {
  div[data-phx-main="true"] {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
  }
}
