<!DOCTYPE html>
<html class="min-w-full min-h-full h-full" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mud</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/4ba7323dcc.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tag() %>
  </head>
  <body class="min-w-full min-h-full h-full flex flex-col">
    <main class="min-w-full flex-grow" role="main">
      <section class="flex flex-col min-w-full min-h-full h-full">
        <p class="w-auto bg-green-200 justify-start" role="alert"><%= get_flash(@conn, :success) %></p>
        <p class="w-auto bg-blue-200 justify-start" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="w-auto bg-orange-200 justify-start" role="alert"><%= get_flash(@conn, :warning) %></p>
        <p class="w-auto bg-red-200 justify-start" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= @inner_content %>
      </section>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
