<!DOCTYPE html>
<html class="min-w-full min-h-full h-full bg-gray-900" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mud</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <%= tag :meta, name: "channel_token",
               content: Phoenix.Token.sign(@conn, "player salt", @player.id) %>
  </head>
  <body class="min-w-full min-h-full h-screen flex flex-col overflow-hidden max-h-screen">
    <%= @inner_content %>
  </body>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <%= render_existing @view_module, "scripts.html", assigns %>
</html>
