<div class="h-full w-full flex justify-center text-lg py-3.5">
  <div class="max-w-7xl flex flex-col gap-1">
    <.live_component
        module={MudWeb.CharacterLive.CharacterWizardComponent}
        id="new_character"
        current_player={@current_player} />
  </div>
</div>